
  /* Sticky footer layout */
  
  
  footer {
  height: 100%;
  width: 100%;
  }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


.markdown-content {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
}



.header-container {
  padding: 10px;
}

.navbar-brand{
  padding-left: 10px;
  padding-bottom: 0;
}

.nav-link{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 0;
  border-bottom: 1px solid transparent; /* Add a transparent border for spacing */
}

.nav-item .nav-link:hover {
  color: black;    
  border-bottom: 1px solid black; /* Add underline on hover */
}


